<!-- Carga los archivos estaticos de la aplicacion-->
{% load staticfiles %}
<!-- -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title%}{% endblock title %}</title>
        <meta name="description" content="Mapa de eventos.">
        <meta name="keywords" content="maps, events, geo, html5, mobile, android, ios, tablet, smartphone, turism, ecuador, macas, morona">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
        <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
        <link rel="stylesheet" href="{% static 'css/mape.css' %}" >
    </head>

    <body>
    <!-- Header -->
    <nav class="row no-margin no-padding">
        <div class="nav-wrapper cyan">
            <a class="brand-logo center" href="#"><h4>mape</h4></a>
            <!-- BOTON de menu izquierdo -->
            <ul id="nav-left" class="" >
                <li><a class="dropdown-button" data-activates="menu-izq"><i class="material-icons left">view_module</i><b class="hide-on-med-and-down"></b></a></li>
            </ul>
            <!-- BOTON de menu izquierdo -->
            <ul id="nav-right" class="">
                <li class="right"><a class="dropdown-button" data-activates="menu-der"><i class="material-icons ">perm_identity</i></a></li>
            </ul>
            <!-- LISTA de menu izquierdo -->
            <ul id="menu-izq" class="dropdown-content">
                <li><a href="{% url 'Mape:mapa' %}" class="center"> <i class="material-icons">language</i></a></li>
                <li class="divider"></li>
                <li><a href="{% url 'Mape:shower' %}" class="center"> <i class="material-icons">explicit</i>Eventos<span class="new badge cyan ">4</span></a></li>
            </ul>
            <!-- LISTA de menu derecho -->
            <ul id="menu-der" class="dropdown-content">
                <!-- Links genericos para cuentas comerciales -->
                {% if user_commertial %}
                <li><a href="" class="center"> <i class="material-icons">assignment_ind</i>{{ user_commertial.commertial_name }}</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'Mape:accounts' %}" class="center"> <i class="material-icons">settings_applications</i>Configuraciones </a></li>
                <li><a href="{% url 'Maccounts:maccounts.logout' %}" class="center"> <i class="material-icons">power_settings_new</i>Salir</a></li>
            </ul>
        </div>
    </nav>
    <!-- tab de progreso -->
    <div class="cyan progress no-margin cyan lighten-3">
        <div class="indeterminate cyan"></div>
    </div>
    <div class="row no-padding no-margin" >
    {% block content %}
    {% endblock content %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript">
            (function($){
            // Provide your access token
            L.mapbox.accessToken = '{{ MAPBOX_ACCESS_TOKEN }}';
            // Create a map in the div #map. coordenates by default: Macas-Ecuador
            var map = L.mapbox.map('map', 'mapbox.light', {
            }).setView([-78.12, 2.30], 9);

            // Set the coordenates if the navigator have geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                  latitude= position.coords.latitude,
                  longitude = position.coords.longitude;
                  map.setView([latitude, longitude], 16)
                  });
                  }else{
                    console.log("No dispones de geolocalizacion en tu navegador");
                    alert("No dispones de geolocalizacion en tu navegador");
                  };
            var latitude,
              longitude;
            // Function at right click
            map.on('contextmenu', function(e) {
              latitude = e.latlng.lat;
              longitude = e.latlng.lng;
              console.log('latitude: ', + latitude + " longitude: " + longitude);
              $('#modal-event-register').openModal();
            });

            $("#register-location").click(function(){
                $(location).attr('href', '//127.0.0.1:8000/mape/location_register?latitude='+latitude+'&longitude='+longitude);
              });

            var tile = map.getTileJSON();

            L.mapbox.featureLayer({
                // this feature is in the GeoJSON format: see geojson.org
                // for the full specification
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    // coordinates here are in longitude, latitude order because
                    // x, y is the standard for GeoJSON and many formats
                    coordinates: [
                      -1.67, -78.66
                    ]
                },
                properties: {
                    title: 'Peregrine Espresso',
                    description: '1718 14th St NW, Washington, DC',
                    // one can customize markers by adding simplestyle properties
                    // https://www.mapbox.com/guides/an-open-platform/#simplestyle
                    'marker-size': 'large',
                    'marker-color': '#BE9A6B',
                    'marker-symbol': 'cafe'
                }
            }).addTo(map);

            addCurrentLocationToMap = function() {
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                  var lat= position.coords.latitude,
                  longit = position.coords.longitude;
                  console.log('--- Tu posision actual es: --- ');
                  console.log('Lat: ', + lat);
                  console.log('Long: ', + longit);
                  console.log('---------------------------');
                  var marker = L.marker([lat, longit], {
                    icon: L.mapbox.marker.icon({
                  'marker-size': 'large',
                  'marker-symbol': 'bus',
                  'marker-color': '#fa0'})
                  });
                  marker.addTo(map);
                  marker.bindPopup('Estas en: <br>' + lat + ', ' + longit).openPopup();
                });
              }else{
                console.log("No dispones de geolocalizacion en tu navegador")
              }
            };

            // 
            (function() {
              var wf = document.createElement('script');
              wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
              wf.type = 'text/javascript';
              wf.async = 'true';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(wf, s);
            })// end of document ready
            })(jQuery); 
            //// end of jQuery name space
            $("#CurrentLocation").click(addCurrentLocationToMap);//Mapbox: hubicacion actual (D)
        </script>
    <script src="{% static 'js/mapbox-jquery.js' %}"></script>
    <script src="{% static 'js/rango-mape.js' %}"></script>
    </body>
</html>
