{% extends 'base.html' %}
{% block title %}login{% endblock title %}
{% block name %}Registro{% endblock name %}
{% block back_url %}{% url 'Maccounts:maccounts.login' %}{% endblock back_url %}
{% block back_logo %}skip_previous{% endblock back_logo %}
{% block content %}
    {% if mensaje %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endif %} 
        <!-- Ventana de registro -->
        <div class="section container cyan-text">
            <form action="" method="post" class="center-align" style="padding-top: 0;">
            {% csrf_token %}
            <div class="form-group input-field col s6">
                <i class="material-icons prefix cyan-text">account_circle</i>
                <input id="username" class=" input-text black-text darken-3" type="text"/>
                <label for="username" class="black-text darken-3">Nombre de usuario</label>
            </div>
            <div class="form-group input-field col s6">
                <i class="material-icons prefix cyan-text">email</i>
                <input id="email" name="email" class=" black-text darken-3" type="email" />
                <label for="email" data-error="wrong" data-success="right" class="black-text darken-3">E-mail</label>
            </div>
            <div class="form-group input-field col s6">
                <i class="material-icons prefix cyan-text">vpn_key</i>
                <input id="password" name="password" class=" black-text darken-3" type="password" />
                <label for="input_text" class="black-text darken-3">Contraseña</label>
            </div>
            <div class="form-group input-field col s6">
                <i class="material-icons prefix cyan-text">vpn_key</i>
                <input id="password2" bane="password2" class=" black-text darken-3" type="password" />
                <label for="password2" class="black-text darken-3">Repita la contraseña</label>
            </div>
                <!-- field para ingreso de imagen
            <div class="file-field input-field s2">
                <div class="btn cyan ">
                    <span>Foto</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="A&ntilde;ade tu imagen de perfil">
                </div>
            </div> -->
                <button class="btn cyan marginado darken-1 waves-effect waves-light " type="submit" name="action">Enviar
                    <i class="material-icons">send</i>
                </button>
            </form>
        </div>
{% endblock content %}