{% extends 'base.html' %}
{% block title %}Cuenta{% endblock title %}
{% block name %}Usuario{% endblock name %}
{% block back_url %}{% url 'Mape:mape' %}{% endblock back_url %}
{% block back_logo %}skip_previous{% endblock back_logo %}
{% block content %}
    {% if mensaje %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endif %} 
        <!-- Ventana de registro -->
        <div class="section container cyan-text" >
            {% csrf_token %}
            {{ form.as_p }}
        </div>
{% endblock content %}