{% extends 'base.html' %}
{% block title %}Configuracion{% endblock title %}
{% block name %}Cuenta de usuario{% endblock name %}
{% block content %}
        <div class="parallax-container">
        <div class="parallax"><img src="img/fiesta.jpg"></div>
        </div>
        <!-- Ventana de registro -->
        <div class="section container">
            <form action="#mape" class="center-align" style="padding-top: 0;">
                <div class="black-text large darken-3">
                    Ingrese sus datos 
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix black-text">account_circle</i>
                    <input id="name-user" class="validate input-text black-text darken-3" type="text"/>
                    <label for="input_text" class="black-text darken-3">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix black-text">account_circle</i>
                    <input id="lastname-user" class="validate black-text darken-3" type="text" />
                    <label for="input_text" class="black-text darken-3">Apellido</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix black-text">account_circle</i>
                    <input id="username-user" class="validate black-text darken-3" type="text"/>
                    <label for="input_text" class="black-text darken-3">Nombre de usuario</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix black-text">email</i>
                    <input id="email-user" class="validate black-text darken-3" type="email" />
                    <label for="email" data-error="wrong" data-success="right" class="black-text darken-3">E-mail</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix black-text">vpn_key</i>
                    <input id="pass-user" class="validate black-text darken-3" type="password" />
                    <label for="input_text" class="black-text darken-3">Contraseña</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix black-text">vpn_key</i>
                    <input id="passconfirmation-user" class="validate black-text darken-3" type="password" />
                    <label for="input_text" class="black-text darken-3">Repita la contraseña</label>
                </div>
                <button class="btn cyan darken-1 waves-effect waves-light " type="submit" name="action">Enviar
                    <i class="material-icons">send</i>
                </button>
            </form>
        </div>
{% endblock content %}