{% extends 'base.html' %}
{% block title %}Event{% endblock title %}
{% block name %}Registro{% endblock name %}
{% block back_url %}{% url 'Mape:mapa' %}{% endblock back_url %}
{% block back_logo %}skip_previous{% endblock back_logo %}
{% block content %}
    {% if mensaje %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endif %} 
        <!-- Ventana de registro -->
        <div class="section container">
            <form action="" method="post" class="center-align" style="padding-top: 0;">
            	{% csrf_token %}
                <div class="form-group input-field col s12 l6">
                    <input id="event_name" name="event_name" class=" input-text black-text darken-3 validate" type="text" length="75"/>
                    <label for="event_name" class="black-text darken-3">Nombre del evento</label>
                </div>
                <div class="form-group input-field col s12 l6">
                    <textarea id="info" name="info" class=" black-text darken-3 materialize-textarea validate"/></textarea>
                    <label for="info" data-error="wrong" data-success="right" class="black-text darken-3">Informaci&oacute;n del evento</label>
                </div>
                <div class="form-group input-field col s4 l3 m4">
                    <input id="when" name="when" class=" black-text darken-3 datepicker validate" type="date" />
                    <label for="ends" class="black-text darken-3">Fecha de inicio</label>
                </div>
                <div class="form-group input-field col s4 l3 m4">
                    <input id="ends" name="ends" class=" black-text darken-3 validate" type="number" />
                    <label for="ends" class="black-text darken-3">Duraci&oacute;n</label>
                </div>
                <div class="form-group input-field col s6">
                    <input id="cover_price" name="cover_price" class=" black-text darken-3 validate" type="number" />
                    <label for="cover_price" class="black-text darken-3">Precio de entrada | cover</label>
                </div>
                <div class="form-group file-field input-field">
                    <div class="btn cyan">
                        <span> Im&aacute;gen </span>
                        <input id="cover_image" name="cover_image" class=" black-text darken-3" type="file" />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Imagen del evento | afiche"/>
                    </div>
                </div>
                <div class="form-group input-field col s6">
                    <input id="hashtags" name="hashtags" class=" black-text darken-3 autocomplete" type="text" />
                    <label for="hashtags" class="black-text darken-3">Etiquetas | Hashtags</label>
                </div>
                <div class="form-group input-field col s6">
                    <input id="location" value="{{latitude}} {{longitude}}" name="location" class="disabled black-text darken-3" type="text" />
                    <label for="location" class="black-text darken-3">Location</label>
                </div>
                <button class="btn cyan marginado darken-1 waves-effect waves-light " type="submit" name="action">Listo
                    <i class="material-icons">send</i>
                </button>
            </form>
        </div>
{% endblock content %}
