{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mape</title>
        <meta name="description" content="Mapa de eventos.">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">        

        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
        <link rel="stylesheet" href="{% static 'css/mape.css' %}" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Comfortaa:400,700,300">        
    </head>
    <body>

    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/fiesta.jpg' %}"></div>
    </div>

    <div class="center cyan" >
        <i class="material-icons large white-text">language</i>
        <h1 class="white-text"> Mape </h1>
        <p class="container white-text center marginado">Bienvenido a Mape, el primer mapa de eventos. Podras encontrar y <strong class="amber-text">&#10003; asistir </strong> a eventos divertidos o invitar a tus amigos a tus propios eventos, accede a los lugares mas interesantes para visitar y comparte con tus amigos los mejores eventos, no dejes de <strong class="amber-text">+ seguir </strong> tus lugares favoritos! </p>     
        <div class="fullscreen center-align">
            <form class="container center " method="post" action="">
                {% csrf_token %}
                <div class="input-field col ">
                    <i class="material-icons prefix white-text waves-effect waves-light">account_circle</i>
                    <input id="username" class="validate white-text darken-3" type="text" />
                    <label for="username" class="white-text darken-3">Usuario</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix white-text waves-effect waves-light">vpn_key</i>
                    <input id="password" class="validate white-text darken-3" type="password" />
                    <label for="password" class="white-text darken-3">Contraseña</label>
                </div>
                <button type="submit" class="btn cyan darken-1 waves-effect waves-light marginado"><i class="material-icons">input</i> Inciar</button>
            </form>
            <a href="#modal-forgotpass" class="modal-trigger cyan-text text-darken-4"> Olvidé mi contraseña</a>
            <div class="center-align section">

                <!-- Trigger del modal de registro -->
                <a class="col btn cyan darken-1 " href="registro.html"><i class="material-icons">perm_identity</i> <strong>Registrarse</strong></a> 
                
            </div>
        </div>
    </div>
    <!-- Modal Recuperacion de contraseña -->
    <div id="modal-forgotpass" class="modal">
        <div class="modal-content center">
            <h4>Que tonto XD</h4>
            <div class="input-field col s6">
                    <i class="material-icons prefix ">email</i>
                    <input id="email-user" class="black-text darken-3" type="email"/>
                    <label for="email-user" data-error="wrong" data-success="right" class="black-text darken-3">E-mail</label>
            </div>
            <p class=""> Revisa tu correo para acceder a tu cuenta.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/cielo.jpg' %}"></div>
    </div>

    <!-- Scripts execution-->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/rango-jquery.js' %}">    </script>
    </body>
</html>